[TYPECHECK]
ignored-modules=voluptuous,homeassistant,LibreView
disable=missing-docstring,too-few-public-methods,missing-module-docstring,broad-exception-caught,line-too-long

[SIMILARITIES]
min-similarity-lines = 25
ignore-imports = true

[main]
max-branches=15